.container
{
    height: 100px;
    background-color: rgba(6, 89, 245, 0.575);
    display: flex;
}
.background{
    background-image:  url('asset/bg.png');
    height: 800px;
    /* opacity: 0.2; */
}
.logo
{
    display: flex;
    height: 70px;
    padding: 16px;
    border-radius: 50%;
}
.pages
{
    display: flex;
    margin-top: 33px;
    font-size: 25px;
    margin-left: auto;
    margin-right: 315px;
    letter-spacing: 2px;   
}
.nav_link
{
    padding: 10px;
    color: white;
    font-size: 15px;
    font-family: Arial
}
.title{
    font-size: medium;
    font-size: 15px;
    font-size: 35px;
    color: white;
}
.txt{
    color: black;
}
.catogories{
    /* background: rgb(99, 248, 124); */
    height: 200px;
    width: 250px;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    padding: 31px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 8px solid rgba(0, 0, 0, 0.404);
}
.cal{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.btn{
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    font-style: small;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.8rem;
    background-color: rgba(52, 250, 26, 0.795);
    border-radius: 10px;
    box-shadow: 0px 0px 8px 1px rgba(255, 9, 9, 0.2);
    letter-spacing: 2px;
    position: relative;
    height: 43px;
    width: 151px;
    margin: 7px 0px 7px 133px;
}
img {
    width: 82%;
}
